<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="neolant"
         connectionString="Server=VM-WIN7-MSSQL\SQLEXPRESS;Database=neolant;User ID=neolant;Password=neolant;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>